Ensure SEToken exp claim is not emitted when null

Per SET spec: 
As defined by Section 4.1.4 of [RFC7519], this claim is the time
      after which the JWT MUST NOT be accepted for processing.  In the
      context of a SET, however, this notion does not typically apply,
      since a SET represents something that has already occurred and is
      historical in nature.  Therefore, its use is NOT RECOMMENDED.
      (Also, see Section 4.1 for additional reasons not to use the "exp"
      claim in some SET use cases.)

whereas SEToken is defined with:
@JsonInclude(JsonInclude.Include.NON_NULL)
public class SEToken {...}

So we need to ensure exp is not emitted when null.